.list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    border: 1px solid #b3e5fc;
    border-radius: 25px;
}