.modal {
    z-index: 200;
    width: 30%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    border: 1px solid #b3e5fc;
    background-color: white;
    position: relative;
}

.closeBtn {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms ease-in-out;
    background-color: #b3e5fc;
    outline: transparent;
    border: 1px solid transparent;
}

.closeBtn:hover {
    background-color: #0288d1;
    color: wheat;
}

.form {
    display: flex;
    flex-direction: column;
}

.layout {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.error {
    border-radius: 10%;
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.5);
    font-size: 14px;
}