.modal {
    padding: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border: 2px solid #b3e5fc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
}

input[type="date"], input {
    font-size: 16px;
    color: #333;
    padding: 10px;
    border: 1px solid #b3e5fc;
    border-radius: 4px;
    outline: transparent;
    transition: all 250ms ease-in-out;
}

input[type="date"]:focus, input:focus {
    border: 1px solid #0288d1;
}

.radioGroup {
    display: flex;
    justify-content: space-between;
}

input[type="radio"] {
    margin: 10px;
    width: 20px;
    height: 20px;
    accent-color: #b3e5fc;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.error {
    border-radius: 10%;
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.5);
    font-size: 14px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    width: 70px;
    height: 30px;
    padding: 5px;
    margin-top: 30px;
    outline: transparent;
    transition: all 250ms ease-in-out;
    background-color: #b3e5fc;
    border: 1px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn:hover {
    background-color: #0288d1;
    color: wheat;
}